<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "blueprint/screen", :media => "screen" %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
</head>
<body>

<%= link_to "Главная", :controller => 'main', :action => 'home' %>
<%= link_to "О проекте", :controller => 'main', :action => 'about' %>
<%= link_to "Помощь", :controller => 'main', :action => 'help' %>


<%= yield %>

</body>
</html>
